<div class="container">
  <div class="row product">
  <div class="col-md-6">
    <img id="zoom_01" src="<%= @product.image %>" data-zoom-image="<%= @product.image %>" class="width-100">
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><span class="product-name"><%= @product.name %></span></li>
      <li><span class="key">Dimensions:</span> 31.5 cm x 22.5 cm</li>
      <li><span class="key">Materials:</span> Handblown glass, Metal ring, Power cable (2 meters)</li>
      <li><span class="key">Colours:</span> Elfenbein</li>
      <li><span class="key">Article number:</span> HEM13410</li>
      <li>
        <span class="key">Description:</span>
        <p>an interpretation of the archetypal suspension lamp – provides a cosy, diffused light. With a nod to the Far East, and inspired by the shapes of traditional Japanese rice paper lanterns, Dusk gives an enchanting glow when darkness falls. The handblown shade is supported by two metal rings which hold the lamp together, underlining its strong, graphic yet understated character. Both the gloss and matte shades provide a soft glow, in anthracite or ivory variations, and work just as harmoniously in a set as they do as singular, statement pieces.</p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <h4>Designed by Sylvain Willenz</h4>
    <p>
      A winner of multiple awards, including Belgian Designer Of The Year 2009, Sylvain Willenz founded his own design studio in 2004. Drawing on a love of cartoons, his charming range of designs includes the unique Scribble family, a set of patterns created exclusively for Hem, that walks the line between studied imperfection and elegance.
    </p>
   <hr>
  </div>
</div>
<div class="row">
    <h4 class="heading"><span>SIMILAR PRODUCTS</span></h4>
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1417976528056-3c9bbbb5456c?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=152&h=101">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <h5>Lounging in style:<br>The Chai Chair <br><a href="#" class="underline">Browse</a></h5>
      </div>
    </div>
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1431905673613-8b0122cb1196?crop=entropy&fit=crop&fm=jpg&h=101&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=152">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <h5>Dusk lamp in opal <br> or smoked glass <br><a href="#" class="underline">Browse</a></h5>
      </div>
    </div>
    <div class="trend col-xs-12 col-md-4">
      <div class="col-xs-6 col-md-6">
        <img src="https://images.unsplash.com/photo-1462212210333-335063b676bc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=152&fit=max&s=7d2a778e52d72428b4a1736a1c9cfd9f&h=101">
      </div>
      <div class="col-xs-6 col-md-6 bold">
        <h5>Palo Sofa in multiple sizes<br><a href="#" class="underline">Browse</a></h5>
      </div>
    </div>
</div>
</div>